In [1]:
import pandas as pd
import numpy as np

In [2]:
data_mower=pd.read_csv("mower_market_snapshot.csv",sep = ';')

In [3]:
#Afficher les 10 premi√®res lignes
data_mower.head(10)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium,3 ans,0.007596,0.777051
6,12.242635,0.035492,18448,757.351286,930.615022,173.26373572791334,auto-portee,Hight,3_ans.,0.007488,0.766056
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,auto-portee,Low,3 anss,0.005291,0.541318
8,15.264180,0.038804,19640,646.626567,816.774028,170.14746134881673,auto-portee,Low,3_ans.,0.006063,0.620278
9,16.190545,0.034045,19559,628.673360,814.799650,186.1262903279073,auto-portee,Low,3_ans.,0.005700,0.583117

In [4]:
#Afficher les 6 derni√®res lignes:
data_mower.tail(6)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1393,40.831294,0.217289,18950,62.296416,69.391858,7.095442545963653,essence,Low,1 an,0.001163,0.613849
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [5]:
#Afficher les lignes de 12 √† 17:
data_mower.loc[12:17]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
12,14.318660,0.037684,18858,648.838526,819.838099,170.99957332823436,auto-portee,Low,3_ans.,0.006919,0.707789
13,19.896179,0.040934,19307,690.403797,830.373642,139.9698450224172,auto-portee,Low,3 ans.,0.006047,0.618644
14,18.925359,0.029028,19177,709.668292,874.528101,164.85980921486097,auto-portee,Low,3 ans,0.006399,0.654611
15,0.014320,0.040453,19275,723.267667,932.020559,208.75289206129202,auto-portee,Medium,3_ans.,0.007492,0.766498
16,11.181391,0.039208,19478,684.847575,852.037497,167.18992276086493,auto-portee,Low,3 ans,0.006080,0.621991
17,22.824634,0.032932,18969,687.263834,848.527485,161.26365131854845,auto-portee,Medium,3 ans.,0.007811,0.799126

data_mower est compos√© de 1399 lignes et 11 colonnes

In [6]:
#Pour connaitrele type de data_mower:
#Le r√©sultat nous affiche que data_mower est un DataFrame
type(data_mower)

pandas.core.frame.DataFrame

Afficher le nom des colonnes

In [7]:
data_mower.columns

Index(['capacity', 'failure_rate', 'id', 'margin', 'price', 'prod_cost',
       'product_type', 'quality', 'warranty', 'market_share',
       'attractiveness'],
      dtype='object')

On peut avoir plus d'informations sur les donn√©es du dataset, leur type, ... 
Et cela avec la m√©thode info():

In [8]:
#afficher le dataset par ordre croissant des id:
data_mower.sort_values(by='id', ascending=True).head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.001540,0.812690
1101,61.422331,0.256102,18260,66.609965,78.048399,11.438433953855252,essence,Medium,1 an.,0.001030,0.543665
264,35.314779,0.089054,18261,276.596330,369.843472,93.24714191718934,electrique,Low,2ans.,0.002929,0.763196
781,0.059048,0.241700,18262,58.573978,68.418652,9.844674524572053,essence,Low,1 an,0.001324,0.698436
677,55.215627,0.174159,18263,61.859634,73.565985,11.70635107354934,essence,Medium,1_an.,0.001239,0.653486

In [9]:
#afficher le dataset par ordre alphab√©tique du type de produit:
data_mower.sort_values(by='product_type', ascending=True).head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
91,10.097955,0.034405,18404,698.698873,850.081823,151.3829501074397,auto-portee,Low,3 ans.,0.006336,0.648182
92,20.945653,0.036073,18738,643.110064,842.995097,199.88503325299047,auto-portee,Low,3anss,0.006688,0.684203
93,16.095604,0.040984,19286,675.172334,826.628844,151.45651006406848,auto-portee,Low,3ans,0.007008,0.716973
94,19.110400,0.041088,18918,712.164948,893.767686,181.60273791977542,auto-portee,Low,3ans,0.006575,0.672640

In [10]:
#supprimer les lignes dupliqu√©es, cette fonction nous renvoi le meme dataset parcequ'on remarque que le nombre de lignes =1399
#Donc aucune ligne n'a √©t√© supprim√©e: ce qui fait que ce dataset ne poss√®de pas de doublons
data_mower.drop_duplicates()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [11]:
#afficher par qualit√©
data_mower.groupby(["quality"]).mean()

,capacity,failure_rate,id,margin,price,market_share,attractiveness
quality,,,,,,,
Hight,45.810637,0.156217,18978.849624,214.668704,290.896620,0.002420,0.644530
Low,47.529465,0.167511,18962.617920,182.296985,255.362849,0.002084,0.630715
Medium,48.938929,0.167560,18933.400000,186.508745,261.690097,0.002219,0.651955

In [12]:
data_mower["market_share"][2:10]

2    0.006179
3    0.007925
4    0.007406
5    0.007596
6    0.007488
7    0.005291
8    0.006063
9    0.005700
Name: market_share, dtype: float64

In [13]:
#iloc permet d'afficher les lignes et colonnes en leur donnant la posotion
data_mower.iloc[0:3, 0:3]

    capacity  failure_rate     id
0  10.492623      0.042528  18377
1  20.273730      0.037896  19363
2  20.190457      0.039111  19641

In [14]:
#loc fait la meme chose que iloc mais prend le nom des colonnes au lieu de la position
data_mower.loc[0:3, ['capacity', 'failure_rate', 'id']]

    capacity  failure_rate     id
0  10.492623      0.042528  18377
1  20.273730      0.037896  19363
2  20.190457      0.039111  19641
3  27.220131      0.041303  18728

##### 4.  Auditer et analyser la colonnes Prod_cost

In [15]:
data_mower["prod_cost"]

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

Le type de la colonne prod_cort est: Object,

In [16]:
#afficher le nombre de valeurs manquantes:
row_null=data_mower["prod_cost"].isnull()
cpt=0
for i in row_null:
    if i == True:
        cpt+=1
print (cpt)

18

In [17]:
#Autre m√©thode:
print(data_mower["prod_cost"].isnull().sum())

18

Dans la colonne prod_cost, nous avons 18 valeurs nulles, nous allons les remplacer par 0:

In [18]:
data_mower["prod_cost"]=data_mower["prod_cost"].replace('unknown', np.nan)

#### 5. Analyser le nombre de valeurs manquantes par colonne:

In [19]:
# Nombre total de valeurs manquantes dans le dataset: 
data_mower.isnull().sum().sum()

31

In [20]:
# Nombre de valeurs manquantes par colonne: 
for i in data_mower.columns:
    print(i+"  =>  "+str(data_mower[i].isnull().sum()))

capacity  =>  0
failure_rate  =>  0
id  =>  0
margin  =>  0
price  =>  0
prod_cost  =>  31
product_type  =>  0
quality  =>  0
warranty  =>  0
market_share  =>  0
attractiveness  =>  0

Apr√®s analyse, la seule colonne qui contient des valeurs manquantes est prod_cost.

#### 6. Remplacer les valeurs manquantes par la moyenne de la colonne

On ne peut pas remplacer les valeurs manquantes par la moyenne parceque notre colonne contient des valeurs n√©gatives:

In [21]:
#Voir s'il ya des valeurs n√©gatives: 
data_mower[data_mower["prod_cost"]== '-64']

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
62,15.627623,0.041714,19448,657.152001,359.675157,-64,auto-portee,Low,3 ans,0.006839,0.699600
103,18.889544,0.036835,19194,661.693700,77.249896,-64,auto-portee,Low,3 ans,0.006655,0.680852
162,39.294042,0.104430,19415,269.875578,895.908032,-64,electrique,Low,2ans,0.002157,0.561937
185,35.101579,0.094531,18486,264.497255,80.768167,-64,electrique,Low,2_ans.,0.002893,0.753937
204,35.759231,0.080239,18854,271.454095,853.113313,-64,electrique,Low,2 anss,0.001153,0.300319
281,32.284422,0.087399,18895,299.179149,842.290304,-64,electrique,Low,2_ans,0.001571,0.409392
525,28.149706,0.091212,19204,253.637540,78.051216,-64,electrique,Low,2_ans,0.002763,0.719915
593,57.385720,0.200876,19121,61.832802,910.237658,-64,essence,Low,1_an,0.001233,0.650412
932,74.269568,0.243184,19322,65.897454,869.457389,-64,essence,Low,1 ans,0.001049,0.553251
936,79.907161,0.225768,18506,65.625049,396.370061,-64,essence,Medium,1_ans,0.001111,0.585933
1002,48.634617,0.216839,18288,59.185909,844.086884,-64,essence,Low,1_an.,0.001589,0.838527
1011,75.405057,0.242298,19323,68.048638,384.483419,-64,essence,Medium,1 an.,0.001152,0.607640
1047,68.386519,0.222190,18698,61.047944,366.298499,-64,essence,Hight,1_an.,0.001357,0.716167
1050,67.474496,0.227344,18608,65.065174,811.234854,-64,essence,Medium,1_ans,0.001221,0.643995
1191,76.999754,0.217446,18510,68.333723,368.273038,-64,essence,Low,1an,0.001086,0.573045
1199,64.258698,0.223812,19648,64.892790,404.745466,-64,essence,Low,1an,0.000878,0.463042
1330,49.364595,0.256847,19268,64.289960,867.163019,-64,essence,Medium,1an.,0.000969,0.511401
1336,71.538747,0.238846,19344,66.131521,831.094377,-64,essence,Low,1_an.,0.000685,0.361364

In [22]:
#On remarque bien que la colonne contient des valeurs n√©gatives, alors que le cout de production doit etre poritif
#Donc on ne peut pas remplacer les valeurs manquantes pay la moyenne.

#### 7.Afficher les valeurs uniques de la colonne Warranty

In [23]:
data_mower["warranty"].unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

#### 8. Finir d'explorer la colonne prod_cost

In [24]:
#Enlever les valeurs n√©gatives 
data_mower["prod_cost"]=data_mower["prod_cost"].replace('-64', np.nan)
#Remplacer les valeurs manquantes par la moyenne de la colonne

moyenne=data_mower['prod_cost'][data_mower.prod_cost.notnull()].astype('float64').mean()                                                    

data_mower=data_mower.replace(np.nan ,moyenne)
data_mower

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,57.0267,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

##### 9. V√©rifier sa coh√©rence et si possible la modifier en cons√©quence

In [25]:
data_mower[data_mower["prod_cost"]=="unknown"].sum()

capacity          0.0
failure_rate      0.0
id                0.0
margin            0.0
price             0.0
prod_cost         0.0
product_type      0.0
quality           0.0
warranty          0.0
market_share      0.0
attractiveness    0.0
dtype: float64

In [26]:
data_mower[data_mower["prod_cost"]=="-64"].sum()

capacity          0.0
failure_rate      0.0
id                0.0
margin            0.0
price             0.0
prod_cost         0.0
product_type      0.0
quality           0.0
warranty          0.0
market_share      0.0
attractiveness    0.0
dtype: float64

In [27]:
data_mower.isnull().sum().sum()

0

pas de valeurs manquantes, pas de valeurs n√©gatives, pas de 'unknown', donc la colonne prod_cost est coh√©rente.

#### 10. Traiter la colonne warranty afin d'uniformiser les valeurs (avoir uniquement des valeurs num√©riques uniformes)

In [28]:
data=[]
for i in data_mower["warranty"]:
    data.append(i[0:1])
#Convertir les valeurs en entier
data_mower["warranty"]=data
data_mower["warranty"]=data_mower["warranty"].astype(int)

In [29]:
data_mower["warranty"]

0       3
1       3
2       3
3       3
4       3
       ..
1394    1
1395    1
1396    1
1397    1
1398    1
Name: warranty, Length: 1399, dtype: int64

In [30]:
data_mower["warranty"].unique()

array([3, 2, 1])

#### 11. Traiter la colonne price afin d'avoir 3 cat√©gories : 
    - 0-300
    -301-500
    - 501- ++

In [31]:
Category1=[]
Category2=[]
Category3=[]
for i in data_mower["price"]:
    if i >0 and i<=300 :
        Category1.append(i) 
    if i>=301 and i<=500:
        Category2.append(i) 
    if i >=501 :
        Category3.append(i) 
print("Categorie 1: ",Category1[1: 10])
print()
print("Categorie 2: ",Category2[1: 10])
print()
print("Categorie 3: ",Category3[1: 10])

Categorie 1:  [77.24989555098276, 74.15603668172803, 70.27119772229942, 72.9704968717671, 80.76816660949908, 75.16129908563981, 77.2130514745468, 72.03508278234115, 74.89736679047967]

Categorie 2:  [424.73855650087097, 350.21602871308335, 411.0877116355266, 396.773981066672, 366.2254888160005, 360.9143960889802, 365.74038245049303, 384.22468189515433, 380.4468729196828]

Categorie 3:  [882.894915941766, 919.3555217086142, 817.0850969501104, 844.5814645266527, 905.2975029654892, 930.615021607817, 818.0755906101691, 816.7740281201634, 814.7996502793842]

#### 12. Transformer la colonne product_type en colonne num√©rique avec 3 cat√©gories :

In [32]:
#Cr√©er un disctionnaire qui a comme cl√©s: les valeurs distinctes de la colonne product_type, et les valeurs: des valeurs num√©riques.
liste1=[]
liste2 = [1,2,3]
for i in data_mower["product_type"].unique():
    liste1.append(i)
dict_prod = dict(zip(liste1, liste2))
dict_prod

{'auto-portee': 1, 'electrique': 2, 'essence': 3}

In [33]:
#Remplacer chaque cl√© par sa valeur: ex electrique par 2 ...
for cle, valeur in dict_prod.items():
    for j in data_mower["product_type"]:
        if cle == j:
            data_mower["product_type"]=data_mower["product_type"].replace(j, valeur)
data_mower["product_type"]

0       1
1       1
2       1
3       1
4       1
       ..
1394    3
1395    3
1396    3
1397    3
1398    3
Name: product_type, Length: 1399, dtype: int64

####  13. cr√©er 3 colonnes (auto-port√©e, essence, √©lectrique) repr√©sentant une variable binaire avec 1 si le produit est du type de la colonne ou 0 sinon.

In [34]:
#Methode 1 pour la colonne auto-port√©e
liste=[]
for i in data_mower["product_type"]:
    if  i == 1:
        liste.append(1)
        
    else:
        liste.append(0)
        
data_mower["auto-port√©e"]=liste
data_mower["auto-port√©e"]

0       1
1       1
2       1
3       1
4       1
       ..
1394    0
1395    0
1396    0
1397    0
1398    0
Name: auto-port√©e, Length: 1399, dtype: int64

In [35]:
#Methode 2 Colonne √©lectrique
data_mower["√©lectrique"]=data_mower["product_type"]==2
data_mower["√©lectrique"]=data_mower["√©lectrique"].replace(False, 0)
data_mower["√©lectrique"]=data_mower["√©lectrique"].replace(True, 1)
data_mower["√©lectrique"].iloc[252:262]

252    1.0
253    1.0
254    1.0
255    1.0
256    1.0
257    1.0
258    1.0
259    1.0
260    1.0
261    1.0
Name: √©lectrique, dtype: float64

In [36]:
#Colonne essence
data_mower["essence"]=data_mower["product_type"]== 3
data_mower["essence"]=data_mower["essence"].replace(False, 0)
data_mower["essence"]=data_mower["essence"].replace(True, 1)
data_mower["essence"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1394    1.0
1395    1.0
1396    1.0
1397    1.0
1398    1.0
Name: essence, Length: 1399, dtype: float64

In [37]:
data_mower.head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-port√©e,√©lectrique,essence
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,1,Low,3,0.006360,0.650648,1,0.0,0.0
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,1,Low,3,0.006840,0.699792,1,0.0,0.0
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,1,Low,3,0.006179,0.632129,1,0.0,0.0
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,1,Low,3,0.007925,0.810730,1,0.0,0.0
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,1,Medium,3,0.007406,0.757614,1,0.0,0.0

#### 14.Commencer √† traiter les colonnes (str) afin d'obtenir des valeurs num√©riques

In [38]:
data_mower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1399 entries, 0 to 1398
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   capacity        1399 non-null   float64
 1   failure_rate    1399 non-null   float64
 2   id              1399 non-null   int64
 3   margin          1399 non-null   float64
 4   price           1399 non-null   float64
 5   prod_cost       1399 non-null   object
 6   product_type    1399 non-null   int64
 7   quality         1399 non-null   object
 8   warranty        1399 non-null   int64
 9   market_share    1399 non-null   float64
 10  attractiveness  1399 non-null   float64
 11  auto-port√©e     1399 non-null   int64
 12  √©lectrique      1399 non-null   float64
 13  essence         1399 non-null   float64
dtypes: float64(8), int64(4), object(2)
memory usage: 153.1+ KB

Nous avons les colonnes quality et prod_cost qui sont de type object, le reste des colonnes ont des valeues num√©riques:int ou float, 
On va dont traiter quality et prod_cost

In [39]:
# Caster le type de prod_cost en numeric:

In [40]:
data_mower["prod_cost"]=data_mower["prod_cost"].astype('float64')

In [41]:
data_mower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1399 entries, 0 to 1398
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   capacity        1399 non-null   float64
 1   failure_rate    1399 non-null   float64
 2   id              1399 non-null   int64
 3   margin          1399 non-null   float64
 4   price           1399 non-null   float64
 5   prod_cost       1399 non-null   float64
 6   product_type    1399 non-null   int64
 7   quality         1399 non-null   object
 8   warranty        1399 non-null   int64
 9   market_share    1399 non-null   float64
 10  attractiveness  1399 non-null   float64
 11  auto-port√©e     1399 non-null   int64
 12  √©lectrique      1399 non-null   float64
 13  essence         1399 non-null   float64
dtypes: float64(9), int64(4), object(1)
memory usage: 153.1+ KB

In [42]:
# Transformer la colonne quality en des valeurs de type numeric:

In [43]:
data_mower["quality"].unique()

array(['Low', 'Medium', 'Hight'], dtype=object)

In [44]:
# Traiter la colonne quality afin d'obtenir une colonne num√©rique avec 3 valeurs uniques 
# Low: 1, Medium: 2, Hight = 3

In [45]:
liste1=[]
liste2 = [1,2,3]
for i in data_mower["quality"].unique():
    liste1.append(i)
dict2 = dict(zip(liste1, liste2))
dict2

{'Low': 1, 'Medium': 2, 'Hight': 3}

In [46]:
for cle, valeur in dict2.items():
    for j in data_mower["quality"]:
        if cle == j:
            data_mower["quality"]=data_mower["quality"].replace(j, valeur)
data_mower["quality"]

0       1
1       1
2       1
3       1
4       2
       ..
1394    2
1395    1
1396    1
1397    1
1398    1
Name: quality, Length: 1399, dtype: int64

In [47]:
data_mower.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1399 entries, 0 to 1398
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   capacity        1399 non-null   float64
 1   failure_rate    1399 non-null   float64
 2   id              1399 non-null   int64
 3   margin          1399 non-null   float64
 4   price           1399 non-null   float64
 5   prod_cost       1399 non-null   float64
 6   product_type    1399 non-null   int64
 7   quality         1399 non-null   int64
 8   warranty        1399 non-null   int64
 9   market_share    1399 non-null   float64
 10  attractiveness  1399 non-null   float64
 11  auto-port√©e     1399 non-null   int64
 12  √©lectrique      1399 non-null   float64
 13  essence         1399 non-null   float64
dtypes: float64(9), int64(5)
memory usage: 153.1 KB

In [48]:
#Toutes les colonnes ont des valeurs num√©riques.

#### 15.V√©rifier si tous les 'unknown', 'NaN', 'None' ont √©t√© trait√© et remplacer

In [49]:
for i in data_mower.columns:
    print((data_mower[i]=="unknown").sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [50]:
for i in data_mower.columns:
    print((data_mower[i]<0).sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [51]:
for i in data_mower.columns:
    print((data_mower[i]== np.NaN).sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0

In [52]:
for i in data_mower.columns:
    print((data_mower[i]==None).sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0

Pas de valeurs None, ni NaN, ni unknown, ni des valeurs n√©gatives dans toutes les colonnes.

#### 16.  Commencer √† packager son code et incorporer son script dans des fonctions pouvant √™tre r√©utilis√©es pour un autre set de donn√©es de m√™me structure (g√©n√©ralisation maximale)

In [53]:
# Cr√©er une nouvelle fonction qui d√©termine si la valeur en param√®tre est manquante:
def num_missing(x):
    return sum(x.isnull())

# On applique cette fonction pour chaque colonne:
print("Valeurs manquantes par colonne:")
print(data_mower.apply(num_missing, axis=0)) #axis=0 appliquer la fonction sur chaque colonne

# Puis application pour chaque ligne:
print("\nValeurs manquantes par ligne:")
print(data_mower.apply(num_missing, axis=1).head(10)) #axis=1 appliquer la fonction sur chaque ligne

Valeurs manquantes par colonne:
capacity          0
failure_rate      0
id                0
margin            0
price             0
prod_cost         0
product_type      0
quality           0
warranty          0
market_share      0
attractiveness    0
auto-port√©e       0
√©lectrique        0
essence           0
dtype: int64

Valeurs manquantes par ligne:
0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
dtype: int64

In [54]:
# Cr√©er une nouvelle fonction qui renvoie les valeurs uniques par colonne:
def unique_value(x):
    return x.unique()

# On applique cette fonction pour chaque colonne:
print("Valeurs uniques pour colonne:")
print(data_mower.apply(unique_value, axis=0)["quality"]) #axis=0 appliquer la fonction sur chaque colonne, affiche r√©sultat de la colonne quality

Valeurs uniques pour colonne:
[1 2 3]

In [55]:
#Cr√©er une nouvelle fonction qui remplace une valeur par une autre:
#Cette fonction nous permet de remplacer les valeurs manquantes par d'autres valeurs(moyenne par exemple),
#remplacer les valeurs caract√®res par des valeurs num√©riques ...

def replace_char(x, y, z):
    return x.replace(y,z)

# On applique cette fonction pour chaque colonne:
print("Valeurs uniques pour colonne:")
print(replace_char(data_mower["quality"],1, 'a')) #axis=0 appliquer la fonction sur chaque colonne, affiche r√©sultat de la colonne quality

replace_char(data_mower["quality"],'a', 1)
data_mower["quality"]

Valeurs uniques pour colonne:
0       a
1       a
2       a
3       a
4       2
       ..
1394    2
1395    a
1396    a
1397    a
1398    a
Name: quality, Length: 1399, dtype: object

0       1
1       1
2       1
3       1
4       2
       ..
1394    2
1395    1
1396    1
1397    1
1398    1
Name: quality, Length: 1399, dtype: int64

#### 17. Commencer √† √©tudier la corr√©lation des variables, leur distribution, etc. : strat√©gie de preprocessing statistique

In [56]:
from matplotlib import pyplot
data_mower.corr(method='spearman').style.format("{:.2}").background_gradient(cmap=pyplot.get_cmap('coolwarm'))

Les couleurs rouge correspondent √† la correlation fortes et en bleu: les corr√©lations faibles

On remarque qu'il y a une correlation forte entre:
    la capacit√© avec:  le taux de panne (61%), type de produit(71%) et le type de produit essence (68%)
    Le taux de panne avec: le type de produit (87%) et le type de produit essence (85%)
    La marge avec: le prix (90%), le cout de la production (76%) et la garrantie(87%)
    Le prix avec: le cout de la production (80%), la garantie (79%)
    Le cout de production avec: la garantie (83%)
    Le type de produit: avec  le type de produit essence (98%)
    La garantie avec: La part de march√© associ√©e au produit (86%)
    La part de march√© associ√©e au produit: La marge (59%), le prix(53%), Le cout de production(63%), la garantie(86%), l'attractivit√©(61%)

In [62]:
import seaborn as sns
import matplotlib.pyplot as plt

#### 18.  Lancer l'entrainement sur un premier algorithme adapt√© et communiquer son r√©sultat