In [1]:
import pandas as pd
import numpy as np

In [2]:
data_mower=pd.read_csv("mower_market_snapshot.csv",sep = ';')

In [4]:
#Afficher les 10 premières lignes
data_mower.head(10)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
5,19.548213,0.035428,18268,728.284617,905.297503,177.01288573033196,auto-portee,Medium,3 ans,0.007596,0.777051
6,12.242635,0.035492,18448,757.351286,930.615022,173.26373572791334,auto-portee,Hight,3_ans.,0.007488,0.766056
7,8.676314,0.042066,18943,633.515449,818.075591,184.56014118975136,auto-portee,Low,3 anss,0.005291,0.541318
8,15.264180,0.038804,19640,646.626567,816.774028,170.14746134881673,auto-portee,Low,3_ans.,0.006063,0.620278
9,16.190545,0.034045,19559,628.673360,814.799650,186.1262903279073,auto-portee,Low,3_ans.,0.005700,0.583117

In [5]:
#Afficher les 6 dernières lignes:
data_mower.tail(6)

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1393,40.831294,0.217289,18950,62.296416,69.391858,7.095442545963653,essence,Low,1 an,0.001163,0.613849
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [6]:
#Afficher les lignes de 12 à 17:
data_mower.loc[12:17]

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
12,14.318660,0.037684,18858,648.838526,819.838099,170.99957332823436,auto-portee,Low,3_ans.,0.006919,0.707789
13,19.896179,0.040934,19307,690.403797,830.373642,139.9698450224172,auto-portee,Low,3 ans.,0.006047,0.618644
14,18.925359,0.029028,19177,709.668292,874.528101,164.85980921486097,auto-portee,Low,3 ans,0.006399,0.654611
15,0.014320,0.040453,19275,723.267667,932.020559,208.75289206129202,auto-portee,Medium,3_ans.,0.007492,0.766498
16,11.181391,0.039208,19478,684.847575,852.037497,167.18992276086493,auto-portee,Low,3 ans,0.006080,0.621991
17,22.824634,0.032932,18969,687.263834,848.527485,161.26365131854845,auto-portee,Medium,3 ans.,0.007811,0.799126

data_mower est composé de 1399 lignes et 11 colonnes

In [7]:
#Pour connaitrele type de data_mower:
#Le résultat nous affiche que data_mower est un DataFrame
type(data_mower)

pandas.core.frame.DataFrame

Afficher le nom des colonnes

In [8]:
data_mower.columns

Index(['capacity', 'failure_rate', 'id', 'margin', 'price', 'prod_cost',
       'product_type', 'quality', 'warranty', 'market_share',
       'attractiveness'],
      dtype='object')

On peut avoir plus d'informations sur les données du dataset, leur type, ... 
Et cela avec la méthode info():

In [9]:
#afficher le dataset par ordre croissant des id:
data_mower.sort_values(by='id', ascending=True).head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
1051,66.180234,0.249758,18259,61.182062,71.867486,10.685424253813672,essence,Low,1 an.,0.001540,0.812690
1101,61.422331,0.256102,18260,66.609965,78.048399,11.438433953855252,essence,Medium,1 an.,0.001030,0.543665
264,35.314779,0.089054,18261,276.596330,369.843472,93.24714191718934,electrique,Low,2ans.,0.002929,0.763196
781,0.059048,0.241700,18262,58.573978,68.418652,9.844674524572053,essence,Low,1 an,0.001324,0.698436
677,55.215627,0.174159,18263,61.859634,73.565985,11.70635107354934,essence,Medium,1_an.,0.001239,0.653486

In [10]:
#afficher le dataset par ordre alphabétique du type de produit:
data_mower.sort_values(by='product_type', ascending=True).head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
91,10.097955,0.034405,18404,698.698873,850.081823,151.3829501074397,auto-portee,Low,3 ans.,0.006336,0.648182
92,20.945653,0.036073,18738,643.110064,842.995097,199.88503325299047,auto-portee,Low,3anss,0.006688,0.684203
93,16.095604,0.040984,19286,675.172334,826.628844,151.45651006406848,auto-portee,Low,3ans,0.007008,0.716973
94,19.110400,0.041088,18918,712.164948,893.767686,181.60273791977542,auto-portee,Low,3ans,0.006575,0.672640

In [11]:
#supprimer les lignes dupliquées, cette fonction nous renvoi le meme dataset parcequ'on remarque que le nombre de lignes =1399
#Donc aucune ligne n'a été supprimée: ce qui fait que ce dataset ne possède pas de doublons
data_mower.drop_duplicates()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,unknown,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

#####  Auditer et analyser la colonnes Prod_cost

In [12]:
data_mower["prod_cost"]

0       195.03551928211797
1       151.31809934886763
2       178.13731921134948
3       162.82946157588628
4       141.48693796090603
               ...
1394    11.498540481074583
1395    11.380588736668567
1396               unknown
1397     9.794196773761458
1398    10.696216086742934
Name: prod_cost, Length: 1399, dtype: object

Le type de la colonne prod_cort est: Object,

In [13]:
#afficher le nombre de valeurs manquantes:
row_null=data_mower["prod_cost"].isnull()
cpt=0
for i in row_null:
    if i == True:
        cpt+=1
print (cpt)

18

In [14]:
#Autre méthode:
print(data_mower["prod_cost"].isnull().sum())

18

Dans la colonne prod_cost, nous avons 18 valeurs nulles, nous allons les remplacer par 0:

In [26]:
data_mower["prod_cost"]=data_mower["prod_cost"].replace('unknown', np.nan)

#### Analyser le nombre de valeurs manquantes par colonne:

In [27]:
# Nombre total de valeurs manquantes dans le dataset: 
data_mower.isnull().sum().sum()

31

In [28]:
# Nombre de valeurs manquantes par colonne: 
for i in data_mower.columns:
    print(i+"  =>  "+str(data_mower[i].isnull().sum()))

capacity  =>  0
failure_rate  =>  0
id  =>  0
margin  =>  0
price  =>  0
prod_cost  =>  31
product_type  =>  0
quality  =>  0
warranty  =>  0
market_share  =>  0
attractiveness  =>  0

Après analyse, la seule colonne qui contient des valeurs manquantes est prod_cost.

#### Remplacer les valeurs manquantes par la moyenne de la colonne

On ne peut pas remplacer les valeurs manquantes par la moyenne parceque notre colonne contient des valeurs négatives:

In [35]:
#Voir s'il ya des valeurs négatives: 
data_mower[data_mower["prod_cost"]== '-64']

Empty DataFrame
Columns: [capacity, failure_rate, id, margin, price, prod_cost, product_type, quality, warranty, market_share, attractiveness]
Index: []

In [20]:
#On remarque bien que la colonne contient des valeurs négatives, alors que le cout de production doit etre poritif
#Donc on ne peut pas remplacer les valeurs manquantes pay la moyenne.

#### Afficher les valeurs uniques de la colonne Warranty

In [21]:
data_mower["warranty"].unique()

array(['3ans', '3 ans.', '3_ans', '3 anss', '3ans.', '3 ans', '3_ans.',
       '3_anss', '3anss', '2 ans', '2 anss', '2anss', '2_ans', '2ans',
       '2_ans.', '2 ans.', '2_anss', '2ans.', '1 an', '1an', '1_an.',
       '1ans', '1an.', '1_ans', '1_an', '1 an.', '1 ans'], dtype=object)

#### Traiter la colonne warranty afin d'uniformiser les valeurs (avoir uniquement des valeurs numériques uniformes)

In [27]:
data=[]
for i in data_mower["warranty"]:
    data.append(i[0:1])
#Convertir les valeurs en entier
data_mower["warranty"]=data
data_mower["warranty"]=data_mower["warranty"].astype(int)

In [28]:
data_mower["warranty"]

0       3
1       3
2       3
3       3
4       3
       ..
1394    1
1395    1
1396    1
1397    1
1398    1
Name: warranty, Length: 1399, dtype: int64

#### Finir d'explorer la colonne prod_cost

In [49]:
#Enlever les valeurs négatives 
data_mower["prod_cost"]=data_mower["prod_cost"].replace('-64', np.nan)
#Remplacer les valeurs manquantes par la moyenne de la colonne

moyenne=data_mower['prod_cost'][data_mower.prod_cost.notnull()].astype('float64').median()                                                    

data_mower=data_mower.replace(np.nan ,moyenne)
data_mower

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
0,10.492623,0.042528,18377,633.766584,828.802103,195.03551928211797,auto-portee,Low,3ans,0.006360,0.650648
1,20.273730,0.037896,19363,731.576817,882.894916,151.31809934886763,auto-portee,Low,3 ans.,0.006840,0.699792
2,20.190457,0.039111,19641,741.218202,919.355522,178.13731921134948,auto-portee,Low,3_ans,0.006179,0.632129
3,27.220131,0.041303,18728,654.255635,817.085097,162.82946157588628,auto-portee,Low,3 anss,0.007925,0.810730
4,16.370911,0.037938,18722,703.094527,844.581465,141.48693796090603,auto-portee,Medium,3ans.,0.007406,0.757614
...,...,...,...,...,...,...,...,...,...,...,...
1394,44.959895,0.234647,18451,63.662561,75.161102,11.498540481074583,essence,Medium,1 an,0.000973,0.513126
1395,59.356058,0.253694,18663,64.014543,75.395132,11.380588736668567,essence,Low,1ans,0.001038,0.547739
1396,67.865222,0.228935,19169,62.132035,810.883148,12.2138,essence,Low,1an.,0.001243,0.655622
1397,66.855435,0.244948,18946,58.697122,68.491318,9.794196773761458,essence,Low,1 an,0.001644,0.867537
1398,54.712713,0.177143,19017,64.259212,74.955428,10.696216086742934,essence,Low,1an.,0.001022,0.538969

In [122]:
from sklearn.metrics import mean_squared_error,mean_squared_log_error, mean_absolute_error 
import numpy as np
print("RMSLE:"+str())

#### Traiter la colonne warranty afin d'obtenir une colonne numérique avec 3 valeurs uniques

In [33]:
data_mower["warranty"].unique()

array([3, 2, 1])

#### Traiter la colonne price afin d'avoir 3 catégories : 
    - 0-300
    -301-500
    - 501- ++

In [54]:
Category1=[]
Category2=[]
Category3=[]
for i in data_mower["price"]:
    if i >0 and i<=300 :
        Category1.append(i) 
    if i>=301 and i<=500:
        Category2.append(i) 
    if i >=501 :
        Category3.append(i) 
print("Categorie 1: ",Category1[1: 10])
print()
print("Categorie 2: ",Category2[1: 10])
print()
print("Categorie 3: ",Category3[1: 10])

Categorie 1:  [77.24989555098276, 74.15603668172803, 70.27119772229942, 72.9704968717671, 80.76816660949908, 75.16129908563981, 77.2130514745468, 72.03508278234115, 74.89736679047967]

Categorie 2:  [424.73855650087097, 350.21602871308335, 411.0877116355266, 396.773981066672, 366.2254888160005, 360.9143960889802, 365.74038245049303, 384.22468189515433, 380.4468729196828]

Categorie 3:  [882.894915941766, 919.3555217086142, 817.0850969501104, 844.5814645266527, 905.2975029654892, 930.615021607817, 818.0755906101691, 816.7740281201634, 814.7996502793842]

#### Transformer la colonne product_type en colonne numérique avec 3 catégories :

In [76]:
#Créer un disctionnaire qui a comme clés: les valeurs distinctes de la colonne product_type, et les valeurs: des valeurs numériques.
liste1=[]
liste2 = [1,2,3]
for i in data_mower["product_type"].unique():
    liste1.append(i)
dict_prod = dict(zip(liste1, liste2))
dict_prod

{'auto-portee': 1, 'electrique': 2, 'essence': 3}

In [81]:
#Remplacer chaque clé par sa valeur: ex electrique par 2 ...
for cle, valeur in dict_prod.items():
    for j in data_mower["product_type"]:
        if cle == j:
            data_mower["product_type"]=data_mower["product_type"].replace(j, valeur)
data_mower["product_type"]

0       1
1       1
2       1
3       1
4       1
       ..
1394    3
1395    3
1396    3
1397    3
1398    3
Name: product_type, Length: 1399, dtype: int64

####  Puis créer 3 colonnes (auto-portée, essence, électrique) représentant une variable binaire avec 1 si le produit est du type de la colonne ou 0 sinon.

In [92]:
#Methode 1 pour la colonne auto-portée
liste=[]
for i in data_mower["product_type"]:
    if  i == 1:
        liste.append(1)
        
    else:
        liste.append(0)
        
data_mower["auto-portée"]=liste
data_mower["auto-portée"]

0       1
1       1
2       1
3       1
4       1
       ..
1394    0
1395    0
1396    0
1397    0
1398    0
Name: auto-portée, Length: 1399, dtype: int64

In [118]:
#Methode 2 Colonne électrique
data_mower["électrique"]=data_mower["product_type"]==2
data_mower["électrique"]=data_mower["électrique"].replace(False, 0)
data_mower["électrique"]=data_mower["électrique"].replace(True, 1)
data_mower["électrique"].iloc[252:262]

252    1.0
253    1.0
254    1.0
255    1.0
256    1.0
257    1.0
258    1.0
259    1.0
260    1.0
261    1.0
Name: électrique, dtype: float64

In [117]:
#Colonne essence
data_mower["essence"]=data_mower["product_type"]== 3
data_mower["essence"]=data_mower["essence"].replace(False, 0)
data_mower["essence"]=data_mower["essence"].replace(True, 1)
data_mower["essence"]

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
1394    1.0
1395    1.0
1396    1.0
1397    1.0
1398    1.0
Name: essence, Length: 1399, dtype: float64

In [121]:
data_mower.head()

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness,auto-portée,électrique,essence
0,10.492623,0.042528,18377,633.766584,828.802103,195.035519,1,Low,3,0.006360,0.650648,1,0.0,0.0
1,20.273730,0.037896,19363,731.576817,882.894916,151.318099,1,Low,3,0.006840,0.699792,1,0.0,0.0
2,20.190457,0.039111,19641,741.218202,919.355522,178.137319,1,Low,3,0.006179,0.632129,1,0.0,0.0
3,27.220131,0.041303,18728,654.255635,817.085097,162.829462,1,Low,3,0.007925,0.810730,1,0.0,0.0
4,16.370911,0.037938,18722,703.094527,844.581465,141.486938,1,Medium,3,0.007406,0.757614,1,0.0,0.0